<%= provide(:title, 'Reported bugs') %>

<h1>'HUD Maps' bugs</h1>

<form method="get" action="/reportbug">
    <button type="submit" class="btn btn-primary">Report a bug</button>
</form>

<table class="bug_table sortable">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Created at</th>  
    <th>Reported by</th>       
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.title %></td>
    <td><%= bug.status %></td>
    <td><%= bug.priority %></td>
    <td><%= bug.created_at %></td>  
    <td><%= creator_name(bug.reported_by) %></td>   
    <td><%= link_to 'View', bug %></td>
    <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
    <td><%= link_to 'Delete', bug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

