<%= provide(:title, 'Reported bugs') %>

<h1>'HUD Maps' bugs</h1>

<form method="get" action="/reportbug">
    <button type="submit" class="btn btn-primary">Report a bug</button>
</form>

<%= search_form_for @search do |f| %>
	<div class="search_form">
		<div class="search_field">
			<%= f.label :title_cont, "Title contains:" %>
			<%= f.text_field :title_cont %>
		</div>
		<div class="search_field">
			<%= f.label :status_cont, "Status:" %>
			<%= f.text_field :status_cont %>
		</div>
		<div class="search_field">
			<%= f.label :description_cont, "Description contains:" %>
			<%= f.text_field :description_cont %>
		</div>				
		<div class="search_btn">
			<%= f.submit "Search" %>
			<%= f.submit "Show all" %>
		</div>
	</div>
<% end %>

<table class="bug_table">
  <tr>
    <th><%= sort_link @search, :title, "Title" %></th>
    <th><%= sort_link @search, :status, "Status" %></th>
    <th><%= sort_link @search, :priority, "Priority" %></th>
    <th><%= sort_link @search, :created_at, "Created at" %></th>
    <th><%= sort_link @search, :reported_by, "Reported by" %></th>                  
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bugs.each do |bug| %>
  <tr class="fade-bug-row">
    <td><%= truncate(bug.title, length: 30, separator: ' ') %></td>
    <td><%= bug.status %></td>
    <td <% if bug.priority == 0 %> class="urgent-red" <% end %> >
    	<%= priority_to_str(bug.priority) %>
    </td>
    <td><%= bug.created_at.to_formatted_s(:short) %></td>  
    <td><%= creator_name(bug.reported_by) %></td>   
    <td><%= link_to 'View', bug %></td>
    <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
    <td><%= link_to 'Delete', bug, method: :delete,
    							   remote: true, 
    							   data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>



