
<div class="bug-show">

	<%#= Heroku-necessitated hack for portfolio version, in lieu of test for @bug.screenshot %>
	<div class="screenshot">
		<%= image_tag("http://www.johnkanthak.com/portfolio/assets/fake_screenshot.png") %>	
	</div>

		
	<p>
	  <b>Title:</b>
	  <%= @bug.title %>
	</p>
	
	<p>
	  <b>Description:</b>
	  <%= @bug.description %>
	</p>
	
	<p>
	  <b>Priority:</b>
	  <%= priority_to_str(@bug.priority) %>
	</p>
	
	<p>
	  <b>Status:</b>
	  <%= @bug.status %>
	</p>
	
	<p>
	  <b>Closed by:</b>
	  <%= @bug.closed_by %>
	</p>
	
	<p>
	  <b>Comment:</b>
	  <%= @bug.comment %>
	</p>
	
	
	<%= link_to 'Edit', edit_bug_path(@bug) %> |
	<%= link_to 'Back', bugs_path %>
	
</div>
