<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("pest_control.png", alt: "Pest Control", class: "bug-logo"), root_path %>
			<span id="logo">Pest Control</span>
			<nav>
				<ul class="nav pull-right">
					<% if signed_in? %>					
						<li> <%= link_to "Bug List",    root_path %> </li>
					<% end %>					
					<li> <%= link_to "Help",    help_path %> </li>
					<% if signed_in? %>
						<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
					<% else %>
						<li> <%= link_to "Sign in", signin_path %> </li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>

